<!-- https://indiewebify.me/validate-h-card/ -->

<aside>
    <div class="p-author h-card">
        <span class="hide">
            By
            <a rel="me" class="p-name u-url" href="https://jagrg.org" -
                >Jonathan Gregory</a
            >
            on
        </span>
    </div>
    <time class="dt-published" datetime="%s">%s</time>
    <br />
    <a class="u-url hide" href="%s">permalink URL</a>
    <a class="p-category hide">%s</a>
</aside>
