<div class="left-column">
    <a href="https://xn--sr8hvo.ws/previous">←</a>
    An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
    <a href="https://xn--sr8hvo.ws/next">→</a>
</div>
<div class="right-column">
    <a href="https://sr.ht/~jagrg/jagrg.gitlab.io/">/source</a>
</div>
