<div class="pagination">
    <a href="#" class="prev">&laquo; Previous</a>
    <a href="#" class="next">Next &raquo;</a>
</div>
<a href="blog.xml">RSS feed</a>,
<a href="tags">Tags</a>
<script src="../js/pagination.js"></script>
