<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="projects">projects</a></li>
        <li><a href="blog">blog</a></li>
    </ul>
    <div class="colored-circles">
        <div class="circle green"></div>
        <div class="circle magenta"></div>
        <div class="circle red"></div>
        <div class="circle blue"></div>
    </div>
</nav>
