<details>
    <summary>Send a Webmention</summary>
    <p>Have you published a response to this post? Paste the URL here.</p>
    <form
        id="webmention-form"
        action="https://webmention.io/jagrg.org/webmention"
        method="post"
    >
        <label for="source">Response URL:</label>
        <input
            type="url"
            id="source"
            name="source"
            placeholder="Enter the URL"
            required
        />
        <input type="hidden" id="target" name="target" value="" />
        <button type="submit">Send</button>
    </form>
</details>

<p>
    <a href="/">Reply by email</a><br />
    <a href="blog">Other posts</a>
</p>

<div>
    <a href="https://xn--sr8hvo.ws/previous">←</a>
    An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
    <a href="https://xn--sr8hvo.ws/next">→</a>
</div>

<div>Updated on %s</div>
<div>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
</div>

<script src="../js/webmention.js"></script>
