/* https://meyerweb.com/eric/tools/css/reset/ */
/* prettier-ignore */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font:inherit;font-size:100%;vertical-align:baseline;margin:0;padding:0}
/* prettier-ignore */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
/* prettier-ignore */
ol,ul {list-style: none;}
/* prettier-ignore */
blockquote,q {quotes: none;}
/* prettier-ignore */
blockquote::before,blockquote::after,q::before,q::after {content: none;}
/* prettier-ignore */
table {border-collapse: collapse;border-spacing: 0;}

* {
    box-sizing: border-box;

    /* border: 1px solid; */
}

:root {
    --bg: #fff;
    --fg: #333;
    --code: #f7f7f7;
    --lightgray: #ccc;
    --gray: #888;
    --green: #636b46;
    --blue: #193668;
    --link-color: #355487;
}

html {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0 8px;
    padding: 0;
    font-family: system-ui, sans-serif;
}

p {
    margin: 1rem 0;
}

p:first-of-type {
    margin-top: 0.65rem;
}

i {
    font-style: italic;
}

b {
    font-weight: 700;
}

h1,
h2,
h3 {
    line-height: 1.15;
    margin-bottom: 0.5em;
    font-weight: 700;
}

h1 {
    margin: 20px 0;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

body {
    margin: 8px auto;
    max-width: 800px;
    padding: 0.45rem;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

img {
    height: auto;
    max-width: 100%;
    width: auto;
}

figcaption {
    text-align: center;
}

code,
pre,
.example,
.src,
kbd,
.box {
    font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
}

code {
    word-spacing: -0.1em;
    background-color: var(--code);
    padding: 0 3.5px;
    border-radius: 5px;
}

kbd {
    display: inline-block;
    padding: 0.25em 0.35em;
    line-height: 70%;
    vertical-align: middle;
    border: 1px solid var(--gray);
    border-radius: 0.25em;
    box-shadow: inset 0 -1px 0;
    font-size: 92%;
}

.box {
    letter-spacing: 2.5px;
}

.matrix {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 1px solid var(--gray);
}

.matrix td {
    border: 1px solid var(--gray);
}

tr:hover {
    background-color: var(--code);
}

th {
    height: 50px;
    background-color: var(--code);
}

.dt-published {
    font-size: 90%;
    margin: -15px 0;
    display: block;
}

.postdate p {
    margin-top: -0.2em;
    font-size: 90%;
}

.example {
    padding: 0.8em 1.2em 0.4em;
}

.small > .example {
    font-size: 0.6875rem;
}

/* https://www.w3.org/TR/CSS21/sample.html */
small,
sub,
sup {
    font-size: 0.83em;
    vertical-align: super;
}

sub {
    position: relative;
    bottom: -0.3em;
}

pre {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    margin-bottom: 1em;
}

.src {
    padding: 0.8em 1.2em 0.4em;
    margin-bottom: 1.4em;
    background-color: var(--code);
    border-radius: 10px;
    font-size: 95%;
}

.linenr {
    color: var(--gray);
}

.org-keyword {
    font-weight: 800;
}

.org-builtin,
.org-function-name,
.org-variable-name {
    color: var(--blue);
}

.org-comment,
.org-comment-delimiter {
    color: var(--gray);
}

.org-doc,
.org-string {
    color: var(--green);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: auto;
    margin-top: 0.8em;
    padding-left: 20px;
}

@media only screen and (width <= 768px) {
    .column {
        padding-left: 0;
        padding-right: 20px;
        flex: auto;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0 0.35em;
}

li {
    line-height: 1.8;
}

.title-text {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 3.5rem;
    margin-bottom: 0.3em;
}

.title-text::first-letter {
    font-size: 120%;
    letter-spacing: -1px;
}

.title {
    margin-bottom: 1.3em;
    letter-spacing: -1px;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 2.35em;
}

/* Animated links on hover */
a {
    color: var(--link-color);
    border-bottom: 1px solid var(--lightgray);
    position: relative;
    text-decoration: none;
}

a::after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0 0;
    background: var(--link-color);
    transition: transform 0.1s;
}

nav a::after,
.tag-list a::after,
footer a::after {
    background: var(--fg);
}

a:hover::after {
    transform: scaleX(1);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2em;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0.6em 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: var(--fg);
    border-bottom: none;
}

nav a::after {
    display: none;
}

.bullets ul {
    margin: 1em 0;
}

.bullets li {
    position: relative;
    padding-left: 20px;
}

.bullets li::before {
    content: "•";
    position: absolute;
    left: 0;
}

footer {
    font-size: 0.915rem;
    padding-bottom: 1.25em;
    margin-top: 1em;
    padding-top: 0.65em;
    /* border-top: 1px dashed var(--lightgray); */
}

footer a {
    text-decoration: none;
    color: inherit;
}

.headline {
    font-size: 1.2rem;
    margin-top: 1.8em;
}

.headline a {
    text-decoration: none;
    color: var(--fg);
    border-bottom: none;
    margin: 0;
}

.headline a::after {
    display: none;
}

@media only screen and (width <= 768px) {
    .headline {
        font-size: 1.2rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg: #151515;
        --fg: #e0e0e0;
        --code: #282828;
        --lightgray: #808080;
        --gray: #404040;
        --green: #5a7387;
        --blue: #599cab;
        --link-color: #009acd;
    }

    img {
        filter: invert(1) brightness(75%);
        mix-blend-mode: lighten;
    }

    .src {
        background-color: #020202;
        border: 1px solid #252525;
    }

    a::after {
        background: linear-gradient(90deg, var(--link-color), slateblue)
            no-repeat;
    }

    .org-comment,
    .org-comment-delimiter {
        color: var(--lightgray);
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pagination a {
    display: inline-block;
    border-bottom: none;
}

.pagination a::after {
    background: none;
    text-decoration: none;
}

.left-column {
    float: left;
    margin: 0;
}

.right-column {
    float: right;
    margin: 0;
}

.right-column .info-link::after {
    display: none;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

input[type="url"] {
    padding: 5px;
    flex: 1;
    font-size: 16px;
    min-width: 0;
}

button {
    padding: 5px 10px;
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid;
    font-size: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

button:hover {
    background-color: var(--code);
}

details {
    margin-bottom: 1.5em;
}

summary {
    cursor: pointer;
}

.hide {
    display: none;
}

.tag-list li {
    display: inline;
    margin-right: 10px;
}

.tag-list a {
    text-decoration: none;
    color: inherit;
}

.post-list {
    margin-top: 2em;
}

.selected {
    font-weight: 800;
}

.normal-image {
    filter: invert(0) brightness(100%);
    mix-blend-mode: normal;
}

.h-entry h2 {
    margin-bottom: 1em;
    margin-top: 1.6em;
}

/* Increase space above the first h2 of the projects page */
#content > section:first-of-type > h2 {
    margin-top: 2rem;
}

/* Add some character, but keep it subtle */
.colored-circles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 8px;
}

.green {
    background-color: #00ff00;
}

.magenta {
    background-color: #ff00ff;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;
}

blockquote {
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    border-left: 4px solid var(--lightgray);
    padding: 0.5em 1.25em;
    border-radius: 0 5px 5px 0;
}
